{% load static %}
<!-- Footer -->
<div class ="flex-wrapper">
  <footer class="flex-shrink-0 mt-auto py-2 bg-dark text-white-50">
    <div class="footer-container">
        <small class="mb-1"><i class="fas fa-copyright"></i>
        <a href="https://www.privacypolicygenerator.info/live.php?token=8g6EuiyhGA1GMHo940RpxA6VFo0QYL5B" target="_blank"
                class="myname me-2"> Privacy Policy </a><i class="fab fa-github"></i></small>
        <p class="me-1 mt-3">
            <a class="social-links me-4" href="https://twitter.com/monnetmorgan" aria-label="link to twitter"
                target="_blank"><i class="fab fa-twitter ms-2"></i></a>
            <a class="social-links me-4" href="https://www.reddit.com/user/Sharp-Edge-7861" aria-label="link to twitter"
                target="_blank"><i class="fab fa-reddit ms-2"></i></a>
            <a class="social-links me-4" href="https://www.instagram.com/monnet_morgan/" aria-label="link to twitter"
                target="_blank"><i class="fab fa-instagram ms-2"></i></a>
            <a class="social-links me-4" href="https://facebook.com/mmdaghe" aria-label="link to twitter"
                target="_blank"><i class="fab fa-facebook-f ms-2"></i></a>
        </p>
        <div class="me-1 mt-3 text-white">
            <h2 class="text-center">Subscribe!</h2>
            <p>Get exclusive deals & content by subscribing to our monthly newsletter</p>
            <!-- Mailchimp signup form here -->
        </div>
    </div>
    
  </footer>
</div>