<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none" >
            <a class="logo-font font-weight-bold nav-link text-nav-red mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-nav-red mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tickets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'tickets' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'tickets' %}?sort=country&direction=asc" class="dropdown-item ">By Country</a>
                <a href="{% url 'tickets' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'tickets' %}" class="dropdown-item">All Tickets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-nav-red mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                VIP Experiences
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'tickets' %}?category=paddockclub" class="dropdown-item">Paddock Club</a>
                <a href="{% url 'tickets' %}?category=teampaddock" class="dropdown-item ">Team Hospitality</a>
                <a href="{% url 'tickets' %}?category=grandstands" class="dropdown-item ">Grandstands</a>
                <a href="{% url 'tickets' %}?category=paddockclub,teampaddock,grandstands" class="dropdown-item ">All VIP Hospitality</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-nav-red mr-5" href="{% url 'information' %}" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Schedule
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-nav-red mr-5" href="https://www.formula1.com/en/latest.html" target="_blank" id="homeware-link" aria-haspopup="true" aria-expanded="false">
                Offical F1.com news
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-nav-red mr-5" href="{% url 'paddock' %}" target="_blank" id="homeware-link" aria-haspopup="true" aria-expanded="false">
                What is Paddock?
            </a>
        </li>
    </ul>
</div>