{% load static %}
<!-- Footer -->
<div class ="flex-wrapper">
  <footer class="flex-shrink-0 mt-auto py-2 bg-dark text-white-50">
    <div class="footer-container">
      <small class="mb-1"><i class="fas fa-copyright"></i>
        <a href="https://github.com/mpysys/lastminutef1" target="_blank"
              class="myname me-2">  by Morgan Monnet </a><i class="fab fa-github"></i></small>
      <p class="me-1 mt-3">
          <a class="social-links me-4" href="https://twitter.com/monnetmorgan" aria-label="link to twitter"
              target="_blank"><i class="fab fa-twitter ms-2"></i></a>
          <a class="social-links me-4" href="https://www.reddit.com/user/Sharp-Edge-7861" aria-label="link to twitter"
              target="_blank"><i class="fab fa-reddit ms-2"></i></a>
          <a class="social-links me-4" href="https://www.instagram.com/monnet_morgan/" aria-label="link to twitter"
              target="_blank"><i class="fab fa-instagram ms-2"></i></a>
          <a class="social-links me-4" href="https://facebook.com/mmdaghe" aria-label="link to twitter"
              target="_blank"><i class="fab fa-facebook-f ms-2"></i></a>
      </p>
    </div>
  </footer>
</div>