<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tickets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'tickets' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'tickets' %}?sort=country&direction=asc" class="dropdown-item ">By Country</a>
                <a href="{% url 'tickets' %}?sort=price&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'tickets' %}" class="dropdown-item">All Tickets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paddock Club & Teams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'tickets' %}?category=paddockclub" class="dropdown-item">Paddock Club</a>
                <a href="{% url 'tickets' %}?category=teampaddock" class="dropdown-item ">Team Hospitality</a>
                <a href="{% url 'tickets' %}?category=grandstands" class="dropdown-item ">Grandstands</a>
                <a href="" class="dropdown-item ">Packages</a>
                <a href="{% url 'tickets' %}?category=paddockclub,teampaddock,grandstands" class="dropdown-item ">All VIP Hospitality</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Schedule
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Full Schedule</a>
                <a href="" class="dropdown-item">Race Programs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drivers & Teams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">All Drivers</a>
                <a href="" class="dropdown-item">All Teams</a>
            </div>
        </li>
    </ul>
</div>